.App {
  text-align: center;
  color: #fff;
}

.AppLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Estilos globales */
.textCenter {
  text-align: center;
}

.buttonContainer {
  background-color: #fff;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

/* Logo */
.logo {
  height: 80px;
}

.navLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  display: inline-block;
  margin: 0 10px;
}

.navLinks li a {
  display: block;
  text-decoration: none;
  color: #accc7b;
  padding: 15px 16px;
  background-color: black;
  transition: background-color 0.3s, color 0.3s;
  font-family: roboto, sans-serif;
  font-weight: bold;
}

.navLinks li a:hover {
  background-color: #668a4c;
  color: #fff;
}

/* Mensaje de inicio */
.introMessage {
  font-size: 24px;
  margin-bottom: 20px;
  color: #464646;
}

/* Formulario */
.formContainer {
  margin-top: 50px;
}

/* Campos de entrada */
.inputField {
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

/* Label formulario */
.formLabel {
  color: black;
}

